

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--veryLightGray);
}

.header {
  margin-top: 75px;
}

h1:first-of-type {
  font-weight: bold;
  color: hsl(234, 12%, 34%);
  ;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 30px;
  margin: 20px;
}
/*FOOTER*/

.footer a,
{
  color: darkorchid;
}

.shfooter .collapse {
  display: inherit;
}

@media (max-width:767px) {
  .shfooter ul {
      margin-bottom: 0;
  }
  .shfooter .collapse {
      display: none;
  }
  .shfooter .collapse.show {
      display: block;
  }
  .shfooter .title .fa-angle-up,
  .shfooter .title[aria-expanded=true] .fa-angle-down {
      display: none;
  }
  .shfooter .title[aria-expanded=true] .fa-angle-up {
      display: block;
  }
  .shfooter .navbar-toggler {
      display: inline-block;
      padding: 0;
  }
}

.resize {
  text-align: center;
}

.resize {
  margin-top: 3rem;
  font-size: 1.25rem;
}


/*RESIZESCREEN ANIMATION*/

.fa-angle-double-right {
  animation: rightanime 1s linear infinite;
}

.fa-angle-double-left {
  animation: leftanime 1s linear infinite;
}

@keyframes rightanime {
  50% {
      transform: translateX(10px);
      opacity: 0.5;
  }
  100% {
      transform: translateX(10px);
      opacity: 0;
  }
}

@keyframes leftanime {
  50% {
      transform: translateX(-10px);
      opacity: 0.5;
  }
  100% {
      transform: translateX(-10px);
      opacity: 0;
  }
}

/*END FOOTER*/